<!doctype html>
<html ng-app="wikiproject">
	<head>
		<meta charset="UTF-8">
		<title><%= wiki_name %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" rel="stylesheet" />
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-strap.js"></script>

		<script type="text/javascript" src="js/ng_main.js"></script>
		<script type="text/javascript" src="js/wikip_index_ng_main.js"></script>
		<style type="text/css">
			.epiceditors {
				border:1px solid #000;
				box-shadow: rgba(0, 0, 0, 0.75) 0 2px 5px;
				border-radius: 3px;
				margin-top: 20px;
			}
		</style>
	</head>
	<body>
		<div ng-controller="wikip_index">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
						</button>
						<a class="brand" href="./index.html"><%= wiki_name %></a>
						<div class="navbar-text pull-right">
							<input type="text" ng-model="searchText" class="input-medium search-query" placeholder="Search article..." ng-enter="searchArticle()">
							<button class="btn" ng-click="searchArticle()" style="margin-top: 0px;"><i class="icon-search"></i></button>
							 <a href="{{ !managerSession ? '/login.html' : '#' }}">{{ managerSession ? 'manager': 'guest' }}</a>
							 <a ng-show="managerSession" href="#" ng-click="logout()">logout</a>

						</div>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li><a href="./index.html">Home</a></li>
								<li><a href="./item_list.html">Article</a></li>
								<li><a href="./category_list.html">Category</a></li>
								<!-- manager session -->
								<li ng-show="managerSession" class="">
									<a href="./category_new.html">new Category</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
	    </div>

			<header class="jumbotron subhead" id="overview">
				<div class="container">
					<h1>Home</h1>
					<p class="lead"></p>
				</div>
			</header>

			<div class="container">
				<div class="row">
						<div class="span3" style="float: right;">
							<ul class="nav nav-list bs-docs-sidenav">
								<li>
									<a href="category_list.html">
										 Categorys <i class="icon-chevron-right" style="float: right; margin-top: 2px; margin-right: -6px; opacity: .25;"></i>
									</a>
								</li>
								<li>
									<a href="item_list.html">
										 Articles <i class="icon-chevron-right" style="float: right; margin-top: 2px; margin-right: -6px; opacity: .25;"></i>
									</a>
								</li>
								<li>
									<a href="item_new.html">
										 new Article <i class="icon-plus" style="margin-top: 2px"></i>
									</a>
								</li>
							</ul>
						</div>

						<div class="span9" style="float: left;">
						<section id="item_new_content">
							<div id="new_item_head" class="page-header">
								<h1>最近新增</h1>
							</div>

							<div ng-repeat="item in items | filter: query" style="cursor: pointer;" class="well" ng-click="itemClick(item)">
								<div >
									<h3><a>{{ item.name }}</a></h3>
									{{ item.abstract }}
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
			
			<footer class="footer">
				<div class="container">
					powered by Easy2Wiki<br>
					<% if (license == 1) { %>
						<a href="https://creativecommons.org/licenses/by-sa/3.0/tw/">CC-BY-SA</a>
					<% } %>
				</div>
			</footer>
		</div>
	</body>
</html>
