<!doctype html>
<html ng-app="wikiproject">
	<head>
		<meta charset="UTF-8">
		<title><%= wiki_name %> - Article modify records</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" rel="stylesheet" />

		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-strap.js"></script>

		<script type="text/javascript" src="js/moment.min.js"></script>

		<script type="text/javascript" src="js/ng_main.js"></script>
		<script type="text/javascript" src="js/item_modify_record_ng_main.js"></script>
		
	</head>
	<body>
		<div ng-controller="item_modify_record">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
						</button>
						<a class="brand" href="./index.html"><%= wiki_name %></a>
						<div class="navbar-text pull-right">
								<input type="text" ng-model="searchText" class="input-medium search-query" placeholder="Search article..." ng-enter="searchArticle()">
								<button class="btn" ng-click="searchArticle()" style="margin-top: 0px;"><i class="icon-search"></i></button>
								 <a href="{{ !managerSession ? '/login.html' : '#' }}">{{ managerSession ? 'manager': 'guest' }}</a>
								 <a ng-show="managerSession" href="#" ng-click="logout()">logout</a>
							</div>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li><a href="./index.html">Home</a></li>
								<li><a href="./item_list.html">Article</a></li>
								<li><a href="./category_list.html">Category</a></li>
								<!-- manager session -->
								<li ng-show="managerSession" class="">
									<a href="./category_new.html">new Category</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
	    </div>

	    <header class="jumbotron subhead" id="overview">
				<div class="container">
					<h1>Article modify records</h1>
					<p class="lead"></p>
				</div>
			</header>

			<div class="container">
				<div class="row">

					<div class="span12">
						<section id="content">
							<div style="text-align: right;">
								<i class="icon-filter"></i> <input type="text" ng-model="query" class="input- search-query" placeholder="Filter">
							</div>
							<div style="margin-top: 10px;"></div>
							<div ng-repeat="item in items | filter: query" style="cursor: pointer;" class="well" ng-click="itemClick(item)">
								<div >
									<h4><a># {{ item.comment }}</a></h4>
									{{ item.abstract }}
									<div style="text-align: right;">編輯者：{{ item.modifier }}<br>編輯時間：{{ getTime(item.timestamp) }}</div>
								</div>
							</div>
							<div ng-show="!items.length"><h3>查無相關條目記錄資訊。</h3></div>
						</section>
					</div>
				</div>
			</div>

			<footer class="footer">
				<div class="container">
					powered by Easy2Wiki<br>
					<% if (license == 1) { %>
						<a href="https://creativecommons.org/licenses/by-sa/3.0/tw/">CC-BY-SA</a>
					<% } %>
				</div>
			</footer>

		</div>
	</body>
</html>